# pycache dirs
__pycache__/

# UIED dirs
UIED/data/input/
UIED/data/output/

# object detection dirs
object_detection/synthetic_data_generation/input/
object_detection/synthetic_data_generation/output/
object_detection/object_detection_frcnn_mscoco_boilerplate/data/
object_detection/object_detection_frcnn_mscoco_boilerplate/inference_data/
object_detection/object_detection_frcnn_mscoco_boilerplate/inference_output/
object_detection/object_detection_frcnn_mscoco_boilerplate/.ipynb_checkpoints/

# input dir
input/

# output dir
# output/

# .pth files
*.pth

# .pyc files
*.pyc

# txt files
# no_instances_dps.txt
